<h2><%= "#{@solution.description}" %></h2>

<h3>
<label>Painting:</label>
<%= @solution.painting %><br/>

<label>Artist:</label>
<%= @solution.artist %><br/>

<label>Gallery:</label>
<%= @solution.gallery %><br/>
</h3>